.io-upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 2cqw, 2rem);
    width: 100%;
    overflow: auto;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
    container-type: size;
}

h1 {
    font-size: clamp(150%, 5cqw, 300%);
    margin-top: 0;
    text-align: center;
}

::deep .upload-button {
    width: clamp(70px, 18cqw, 200px);
    height: clamp(70px, 17cqw, 190px);
}

::deep .upload-button img {
    width: 75%;
}

.input-output {
    display: flex;
    gap: clamp(0.1rem, 1cqw, 1rem);
    align-items: center;
    height: auto;
}

.gbx-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.5rem, 1.2cqw, 1.25rem);
    width: clamp(70px, 15cqw, 150px);
    height: clamp(70px, 17cqw, 190px);
}

    .gbx-item img {
        width: clamp(56px, 15cqw, 128px);
        height: clamp(56px, 15cqw, 128px);
    }

[data-theme="light"] .gbx-item img:not(.gbx),
.reu-theme-light .gbx-item img:not(.gbx) {
    filter: invert(1);
}

.arrow {
    width: clamp(20px, 8cqw, 200px);
}

.status {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: clamp(100%, 3cqw, 150%);
    height: 64px;
}

.extensions {
    text-align: center;
    font-size: clamp(0.65rem, 2cqw, 1.5rem);
}

[data-theme="light"] .arrow,
.reu-theme-light .arrow {
    filter: invert(1);
}

.extras {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

    .extras .error-message {
        margin-left: 0.5rem;
        color: var(--color-red);
    }