.tool-menu {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    padding: 20px;
}

.tool-menu-loading {
    pointer-events: none;
    position: relative;
    background: var(--color-footer-bg);
}

    .tool-menu-loading ::deep .reu-button {
        filter: blur(10px);
    }

    .tool-menu-loading ::deep div.loader {
        position: absolute;
        top: calc(50% - 70px);
        left: calc(50% - 70px);
    }