@page "/{tool:nonfile?}"

@using GbxIo.Components.Services

@inject ToolService ToolService

<PageTitle>Home</PageTitle>

<div style="display: flex;">
    <ToolMenu></ToolMenu>
    <DragAndDrop @rendermode="InteractiveWebAssembly"></DragAndDrop>
</div>

@code {
    [Parameter]
    public string? Tool { get; set; }

    string GetTitle()
    {
        var title = "Gbx I/O";
        var toolName = string.IsNullOrEmpty(Tool)
            ? null : ToolService.GetTool(Tool)?.Name;

        if (toolName is not null)
        {
            title += $" - {toolName}";
        }

        return title;
    }
}