body {
    background-color: var(--color-bg);
    max-height: 100vh;
}

.reu-button {
    padding: 10px 20px !important;
}

.reu-main {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: auto;
}

@media (max-width: 1000px) {
    .reu-main {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}