@inherits LayoutComponentBase

<ReuNavMenu Brand="io.gbx.tools">
    <ReuNavItem Name="Docker" Href="https://hub.docker.com/r/bigbang1112/gbx-io" IconSrc="" IsNavLink="false" IconOnly="true" Title="Docker image"></ReuNavItem>
    <ReuNavItem Name="Discord" Href="https://discord.gbx.tools" IconType="IconType.Discord" IsNavLink="false" IconOnly="true" Title="Join the Discord server"></ReuNavItem>
</ReuNavMenu>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
