body {
    background-color: #111;
    max-height: 100vh;
}

.reu-main {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: auto;
}

.io-upload-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}