body {
    background-color: #111;
}

.io-main {
    margin: 20px;
    display: flex;
    gap: 20px;
}

.io-upload-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}